.git
.github
.vscode
.idx
.agent

node_modules
.next
coverage

.env
.env.*
!.env.example
prisma/*.db
prisma/*.db-*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo
*.swp
*.swo
